@charset 'UTF-8';

@import url("font-awesome.min.css");

@import
	url("http://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800")
	;


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
	font-size: 1.6rem;
  	font-family: "Open Sans", sans-serif;
  	color: #331d35;
	background-color: white;
	background-position: top left, top left;
	background-repeat: repeat-x, repeat;
	background-size: 100% 30em, auto;
	padding:0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}


body, input, select, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	font-weight: 300;
}

a {
	color: #0090c5;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
	font-weight: 800;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
	outline: 0;
}

b, strong {
	font-weight: 600;
	color: #444;
}

i, em {
	font-style: italic;
}

br.clear {
	clear: both;
}

sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

hr {
	border: 0;
	border-top: solid 1px #eee;
}

blockquote {
	border-left: solid 0.5em #eee;
	padding: 1em 0 1em 2em;
	font-style: italic;
}

p, ul, ol, dl, table {
	margin-bottom: 2em;
}

/* Section/Article */
section, article {
	margin-bottom: 5em;
}

section>:last-child, article>:last-child {
	margin-bottom: 0;
}

section:last-child, article:last-child {
	margin-bottom: 0;
}


.hide {
	display: none
}



/* Image 

		.image
		{
			display: inline-block;
			outline: 100;
		}
*/
.image img {
	display: block;
	width: 100%;
	border-radius: 8px;
}

.image.fit {
	display: block;
	width: 100%;
}

.image.featured {
	display: block;
	width: 100%;
	margin: 0 0 0 0;
}

.image.left {
	float: left;
	margin: 2em 2em 0 0;
}

.image.centered {
	display: block;
	margin: 0 2.5em 0 0;
}

.image.centered img {
	margin: 0 auto;
	width: auto;
}

/* Button */
input[type="button"], input[type="submit"], input[type="reset"], .button
	{
	-webkit-appearance: none;
	position: relative;
	display: inline-block;
	background: #0090c5;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	font-weight: 800;
	outline: 0;
	border: 0;
	cursor: pointer;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-o-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover,
	.button:hover {
	background: #10a0d5;
}

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active,
	.button:active {
	background: #20b0e5;
}

.button.icon {
	
}

.button.icon:before {
	position: relative;
}

input[type="button"].alt, input[type="submit"].alt, input[type="reset"].alt,
	.button.alt {
	background: #f1f1f1;
	background: rgba(0, 0, 0, 0.05);
	color: #444;
}

input[type="button"].alt:hover, input[type="submit"].alt:hover, input[type="reset"].alt:hover,
	.button.alt:hover {
	background: #e8e8e8;
	background: rgba(0, 0, 0, 0.085);
}

input[type="button"].alt:active, input[type="submit"].alt:active, input[type="reset"].alt:active,
	.button.alt:active {
	background: #e4e4e4;
	background: rgba(0, 0, 0, 0.15);
}


/* Box */
.box {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.015);
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/
.icon {
	position: relative;
	text-decoration: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon>.label {
	display: none;
}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/
#banner-wrapper {
	
}

#main-wrapper {
	background: #fff;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
}

#footer-wrapper {
	
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
	position: relative;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo {
	overflow: hidden;
}

#logo h1 {
	background: #ff4486;
	color: #fff;
	border-radius: 6px;
	font-family: 'Oleo Script', serif;
	font-weight: 400;
}

#logo span {
	font-weight: 800;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
#banner {
	position: relative;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer {
	margin-top: 0;
}

#footer a {
	color: inherit;
}

#copyright {
	color: #aaa;
}

#copyright a {
	color: inherit;
}





/********************** Pop up Add to Cart Window *****************/

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	line-height: 1em;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	display: inline-block;
	position: absolute;
    left: 25%;
    top: 10%;
 	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999); 
}
.productImgModel {
	max-width:300px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }



/***Shopping Cart 	**/
.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	padding: 4px 10px 4px 12px;
	text-decoration: none;
	cursor: hand;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
	cursor: hand;
}
/* Error Messages */

.alert-box {
    color:#555;
    border-radius:2px;
    padding:10px 10px 10px 36px;
    margin:0px 0px 10px 0px;
  	font-family: 'Ropa Sans', sans-serif;
  	font-size: 16px;
  	align:left
    
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec  no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9  no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4  no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc  no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}

/**** login / signup ***************/

li, ul, input {
	margin: 0;
	padding: 0;
	list-style: none
}


#login-form {
	width: 350px;
	background: #FFF;
	margin: 0 auto;
	background: #f8f8f8;
	overflow: hidden;
	border-radius: 7px
}

.login-form-header {
	display: table;
	clear: both
}

.login-form-header label {
	display: block;
	cursor: pointer;
	z-index: 999
}

.login-form-header li {
	margin: 0;
	line-height: 60px;
	width: 175px;
	text-align: center;
	background: #808080;
	font-size: 18px;
	float: left;
	transition: all 600ms ease
}

/*sectiop*/
.login-section-out {
	width: 700px;
	float: left;
	transition: all 600ms ease
}

.login-section-out:after {
	content: '';
	clear: both;
	display: table
}

.login-section-out section {
	width: 350px;
	float: left
}

.login {
	padding: 20px
}

.login-ul-list {
	clear: both;
	display: table;
	width: 100%
}

.login-ul-list:after {
	content: '';
	clear: both;
	display: table
}

.login-ul-list li {
	margin: 0 auto;
	margin-bottom: 12px
}

.login-input {
	background: #fff;
	transition: all 800ms;
	width: 247px;
	border-radius: 3px 0 0 3px;
	font-family: 'Ropa Sans', sans-serif;
	border: solid 1px #ccc;
	border-right: none;
	outline: none;
	color: #999;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	padding-left: 10px;
	font-size: 16px
}

.login-input, .login span.icon {
	vertical-align: top
}

.login span.icon {
	width: 50px;
	transition: all 800ms;
	text-align: center;
	color: #999;
	height: 40px;
	border-radius: 0 3px 3px 0;
	background: #98B5D0;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	border: solid 1px #ccc;
	border-left: none;
	font-size: 16px
}

.login-input:focus:invalid {
	border-color: red
}

.login-input:focus:invalid+.icon {
	border-color: red
}

.login-input:focus:valid {
	border-color: green
}

.login-input:focus:valid+.icon {
	border-color: green
}

#login-check, #login-check1 {
	top: 1px;
	position: relative
}

.login-button {
	border: none;
	outline: none;
	background: #0099CC;
	border-bottom: solid 4px #006699;
	font-family: 'Ropa Sans', sans-serif;
	margin: 0 auto;
	display: block;
	height: 40px;
	width: 100%;
	padding: 0 10px;
	border-radius: 3px;
	font-size: 16px;
	color: #FFF
}

.social-login {
	padding: 15px 20px;
	background: #f1f1f1;
	border-top: solid 2px #98B5D0;
	text-align: right
}

.social-login a {
	display: inline-block;
	height: 35px;
	text-align: center;
	line-height: 35px;
	width: 35px;
	margin: 0 3px;
	text-decoration: none;
	color: #FFFFFF
}

. a i.fa {
	line-height: 35px
}

.login-fb {
	background: #305891
}

.tw {
	background: #2ca8d2
}

.gp {
	background: #ce4d39
}

.in {
	background: #006699
}

.remember {
	width: 50%;
	display: inline-block;
	clear: both;
	font-size: 14px
}

.remember:nth-child(2) {
	text-align: right
}

.remember a {
	text-decoration: none;
	color: #666
}


/*swich form*/
#signup:checked ~.login-section-out {
	margin-left: -350px
}

#login:checked ~.login-section-out {
	margin-left: 0px
}

#login:checked ~div .login-form-header li:nth-child(1), #signup:checked ~div .login-form-header li:nth-child(2)
	{
	background: #eee
}
