<html>
<head>

<title>Sanskriti</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Indian Apparel and Jewelry" />
<meta name="keywords" content="Desi, Indian, Apparel, Womens, Women, Kurthis, Tops, Dress, Anarkali, Jewelry" />
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.dropotron.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/init.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-cookies.js"></script>
<script src="js/cart.js"></script>


<!-- Main CSS links -->
<link rel="stylesheet" href="css/skel.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/cart.css" />
<link rel="stylesheet" href="css/style-desktop.css" />
<link rel="stylesheet" href="css/header/header-menu.css">
<link rel="stylesheet" href="css/header/header-fixed.css">
<link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

<!-- Magnifier -->
<link rel="stylesheet" href="js/magnifier/etalage.css">
<script src="js/magnifier/jquery.etalage.min.js"></script>



<script>
$(document).ready(function(){ 

	// If your <ul> has the id "etalage":
	$('#etalage').etalage({ 
	// These are the most common settings (because they are case specific)
	thumb_image_width: 300,
	thumb_image_height: 450,
	source_image_width: 600,
	source_image_height: 900,
	zoom_area_width: 300
	// Note: the last option does not end with a comma
	}); 

	}); 
</script>


</head>



<body ng-app="sajApp" ng-controller="Products">



	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>

	<header class="header-fixed">

		<div class="header-limiter" ng-cloak>

			<div class="header-left">
				Free Shipping & Returns
			</div>
			

			<div class="header-title">Sanskrithi</div>

			<div class="header-right">
				<nav>
					<a href="./" style="color:black">Home</a> <span style="background-color: #3D579D; width: auto; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px; margin: 0px"> <a href="#" style="text-align: center" onclick="window.open( 'https://www.facebook.com/sanskrithiweb', 'saj_facebook' )">facebook</a>
					</span> <a href="cart.html">
						<div style="position: relative; padding-top: 8px; padding-right: 10px">
							<div style="border-radius: 50%; background: red; position: absolute; float: right; width: 25px; height: 25px; right: 0px; top: 0px">{{cart.items.length}}</div>
							<div style="width: auto; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 0px; margin: 0px; positon: absolute; color:black">
								Cart&nbsp;<img src="./images/cart.png" style="margin: 0px; padding: 0px; padding-bottom: 1px; vertical-align: bottom;" />
							</div>
						</div>
					</a>
				</nav>
			</div>
		</div>
	</header>





	<div style="float:left; margin-top:2.0em; margin-left:2.0em">

		<div style="display: inline-block;">
			<ul id="etalage">
				<li><img class="etalage_thumb_image" src="/sans-img/images/{{viewProduct.id}}.jpg"> <img class="etalage_source_image" src="/sans-img/images/{{viewProduct.id}}.jpg"></li>
			</ul>
		</div>

		<div style="display: inline-block;  margin-left:2.0em; vertical-align: top">

			<div id="addedToCart" style="visibility: hidden; position: relative; float: left">
				<img src="images/tick.png" style="width: 0.9em" /><font>&nbsp;&nbsp;&nbsp;&nbsp;Item added to cart</font><br />
			</div>

			<any ng-if="viewProduct.discount == 0"> <font class="dressDescModel">{{viewProduct.name}}, ${{viewProduct.finalPrice}}</font> <br />
			<br />
			<font class="productSizeModel">{{viewProduct.desc}}</font> <br />
			<br />
			<font class="productSizeModel">Size: {{viewProduct.size}}&nbsp;{{viewProduct.sizeDesc}}</font> <br />
			<br />
			<font class="priceModel">Price: ${{viewProduct.finalPrice}}</font> <br />
			<br />
			<br />
			<a href="#openModal" class="btn" id="btnAddToCart" ng-click="addToCart(viewProduct)">Add to Bag</a> <br />
			<a href="#" class="btn" id="btnCheckOut" style="visibility: hidden" ng-click="checkout()">Check Out</a> <a href="#" class="btn" id="btnContShopin" style="visibility: hidden" ng-click="exitModalDialog()">Continue Shopping</a> </any>
			<br />

			<any ng-if="viewProduct.discount != 0"> <font class="dressDescModel">{{viewProduct.name}}, ${{viewProduct.finalPrice}}</font> <br />
			<br />
			<font class="productSizeModel">{{viewProduct.desc}}</font> <br />
			<br />
			<font class="productSizeModel">Size: {{viewProduct.size}}&nbsp;{{viewProduct.sizeDesc}}</font> <br />
			<br />
			<font class="priceModel">Orig Price: ${{viewProduct.price}}</font> <br />
			<font class="priceModel">Discount: {{viewProduct.discount}}%</font> <br />
			<font class="salePriceModel">New Price: ${{viewProduct.finalPrice}}</font> <br />
			<br />
			<a href="#openModal" class="btn" id="btnAddToCart" ng-click="addToCart(viewProduct)">Add to Bag</a> <br />
			<a href="cart.html" class="btn" id="btnCheckOut" style="visibility: hidden">Check Out</a> <a href="index.html" class="btn" id="btnContShopin" style="visibility: hidden">Continue Shopping</a> </any>
		</div>
	</div>
	
	<div style="align:right; float:left; position:relative; margin-top:2.0em; margin-left:5.0em">
		<img src="images/stamp-quality.jpg" />
	
	
	
	
	
	
	</div>




</body>
</html>